@import "./_variables.scss";
@font-face {
    font-family: "Nebula Regular";
    src: url("./fonts/nebula.regular.otf");
}
*,
*::after,
*::before {
    margin: 0%;
    z-index: 999;
}

body {
    background: #2b2b2b;
    box-sizing: border-box;
    text-align: center;
    overflow-x: hidden;
}

section {
    height: 40rem;
    padding: 4rem 3% 4rem 15%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    font-family: "Nebula Regular";
}

h2,
h3,
h4 {
    color: white;
    text-shadow: $neon;
}

h2,
h3 {
    font-size: 2.8rem;
}

h1 {
    font-size: 2rem;
    width: 28ch;
}

h2 {
    margin: 2rem 0;
}

p {
    color: white;
    width: 60ch;
}

a {
    text-decoration: none;
    color: white;
}

.btn {
    background: transparent;
    padding: 0.7em;
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    margin: 1rem 0;
}

.fixed {
    &__bg {
        position: fixed;
        height: 100%;
        width: 100%;
        background: linear-gradient($darkBlue, $black);
        z-index: -1;
    }
    &__social{
        position: fixed;
        display: flex;
        flex-direction: column;
        bottom: 0%;
        left: 5%;
        gap: 2rem;
    }
    &__right {
        position: inherit;
        right: 0;
        bottom: 50%;
        top: 50%;
    }
}
.left {
    &__jclogo {
        position: fixed;
        width: 40px;
        top: 1rem;
        left: 1rem;
        > * {
            width: 8rem;
        }
    }
    &__social {
        display: flex;
        flex-direction: column;
        gap: 10px;
        & > * {
            width: 40px;
        }
    }
    &__lines {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 0.8rem;
        & > *{
            width: 4px;
            border-radius: 25px 25px 0 0;
        }
        &--line1 {
            height: 7rem;
            width: 4px;
            background-color: #585858;
        }
        &--line2 {
            height: 10rem;
            background-color: #9B9B9B;
        }
        &--line3 {
            height: 5rem;
            background-color: #414141;
        }
    }
}

.fold {
    padding-top: 0;
    position: relative;
    &__center {
        color: $lightBlue;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &--name {
            color: white;
            cursor: pointer;
        }
    }
    &__navbar {
        padding: 2rem 4rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        color: white;
        & > button {
            margin: 0px;
        }
    }
}

.sobre {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    & > h2 {
        margin-top: -5rem;
    }
    & > img {
        width: 25rem;
    }
}

.oQueFaco {
    position: relative;
    text-align: start;
    &__bg {
        opacity: 0.4;
        z-index: 1;
        position: absolute;
        right: -50%;
        top: 0%;
    }
    &__items {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        &--img {
            width: 12rem;
        }
        &--text {
            & > h3 {
                font-size: 1.4rem;
            }
        }
    }
}

.experiencia {
    & h2 {
        margin-bottom: 3rem;
    }
    &__components {
        display: flex;
        justify-content: space-around;
    }
}
.empresas {
    flex: 1;
    &__logo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    & img {
        padding: 1rem;
        width: 6rem;
    }
}
.skills {
    flex: 2;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &__navbar {
        display: flex;
        gap: 20px;
        &--ferramentas {
            display: flex;
            justify-content: space-between;
            & img {
                object-fit: contain;
                width: 3rem;
            }
        }
    }
}

.projetos {
    height: 100%;
    &__items {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    &__item {
        text-align: start;
        display: flex;
        gap: 1rem;
        & > img {
            aspect-ratio: 3 / 2;
            width: 40%;
        }
        &--content {
            display: flex;
            transform: translateX(-6rem);
            gap: 10px;
            background-color: $darkBlue;
            box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.36);
            border-top-left-radius: 25px;
            padding: 2rem;
            width: 70%;
        }
        &--icons {
            display: flex;
            flex-direction: column;
            gap: 4px;
            & img {
                width: 1.5rem;
            }
        }
    }
}

.contato {
    background: linear-gradient(rgba(0, 0, 0, 0), $darkBlue);
}
.contatos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    & > * {
        flex-basis: 100%;
    }
    &__form {
        display: flex;
        flex-direction: column;
        & > label {
            text-align: start;
            margin: 0.5rem 4px;
            color: white;
        }
        & > textarea {
            resize: none;
        }
    }
    &__curriculo {
        & > img {
            width: 15rem;
        }
        & > button {
            width: 10rem;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
