.contato {
    background: linear-gradient(transparent, $darkBlue);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contatoContent {
    white-space: pre-line;
    width: #{"min(80%, 60ch)"};
    margin: auto;

    &__text {
        & button {
            padding: 1rem;
        }
        &--anchor {
            display: block;
            &:hover,
            &:focus {
                color: $lightGrey;
            }
        }
    }
}
.matrix {
    margin: auto;
    width: #{"min(500px,100%)"};
    height: #{"min(500px,100%)"};
}
@media screen and (max-width: 1200px) {
    .contato {
        flex-direction: column;
    }
    .contatoContent {
        margin: auto;
        width: #{"min(85%, 60ch)"};
        &__text {
            & p {
                width: 100%;
            }
        }
    }
}
@media screen and (min-width: 1201px) {
    .contatoContent {
        &__text {
            & a:hover,
            & a:focus {
                color: white;
            }
        }
    }
}
