.experiencia {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__components {
        display: flex;
    }
    & h3 {
        color: $lightGrey;
        text-shadow: none;
    }
}
.empresas {
    text-align: center;
    flex: 1;
    &__logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.skills {
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 20rem;
    }
    &__navbar {
        display: flex;
        box-shadow: 0px 0px 20px rgba($color: #fff, $alpha: 0.1);
        margin-bottom: 2.7rem;
        border-radius: 50px;
        border: 1px solid $lightGrey;
        width: #{"min(90%,27rem)"};
        & button {
            font-size: 0.8rem;
            flex: 1;
            height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-left: 1px $lightGrey;
            border-right: 1px $lightGrey;
            border-style: none solid none solid;
            &:first-child {
                border-radius: 50px 0 0 50px;
            }
            &:last-child {
                border-radius: 0 50px 50px 0;
            }
        }
        &--p {
            color: $lightGrey;
            background: linear-gradient(transparent, $medGrey 200%);
        }
        &--icons {
            fill: $lightGrey;
            display: flex;
            flex-wrap: wrap;
        }
    }
    &__active {
        text-shadow: $neon;
        color: white;
        background: linear-gradient(transparent, $lightBlue 200%);
    }
}

@media screen and (max-width: 1200px) {
    .experiencia {
        &__components {
            flex-direction: column;
        }
        & h2 {
            margin-top: 30vh;
        }
    }
    .empresas {
        &__logo {
            margin-bottom: 10rem;
            & img {
                margin: #{"min(2vw,1.5rem)"} 0;
                width: #{"min(35vw,16rem)"};
            }
        }
    }
    .skills {
        margin-bottom: 30vh;
        &__content {
            align-items: center;
        }
        &__navbar {
            &--icons {
                width: #{"min(100%,37rem)"};
                justify-content: center;
                font-size: #{"clamp(2rem,12vw,4.2rem)"};
                & > * {
                    margin: #{"min(2vw,1rem)"};
                }
            }
        }
    }
}

@media screen and (min-width: 1201px) {
    .experiencia {
        &__components {
            align-items: flex-start;
        }
        & h2 {
            margin-bottom: 7rem;
            text-align: center;
        }
    }
    .empresas {
        &__logo {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
        & img {
            margin-bottom: 1rem;
            width: #{"clamp(9rem,11vw,12rem)"};
        }
    }
    .skills {
        margin-right: 4rem;
        &__navbar {
            & button:hover,
            & button:focus {
                text-shadow: $neon;
                color: white;
            }
            &--icons {
                width: 25rem;
                justify-content: center;
                font-size: 3rem;
                & > * {
                    margin: 0 1.5rem 2rem;
                }
            }
        }
    }
}
