.fixed {
    &__bg {
        background: linear-gradient($darkBlue, $black);
        position: fixed;
        height: 100vh;
        width: 100vw;
        z-index: -1;
    }
    &__social {
        z-index: 5;
        position: fixed;
        display: flex;
        flex-direction: column;
        bottom: 0%;
        left: 3.3rem;
    }
}
.activeSVG {
    fill: white;
    filter: drop-shadow(0 0 6px rgba(194, 203, 255, 0.92)) /* drop-shadow(0 0 30px rgba(6, 32, 177, 0.34)) */
        /*  drop-shadow(0 0 12px rgba(133, 152, 255, 0.52)) */ drop-shadow(0 0 21px rgba(36, 69, 255, 0.92));
    /* drop-shadow(0 0 34px rgba(6, 32, 177, 0.78)); */ /*  drop-shadow(0 0 54px rgba(6, 32, 177, 0.92)); */
}
.left {
    &__jclogo {
        position: fixed;
        width: 8rem;
        height: 8rem;
        top: 1rem;
        left: 1rem;
    }
    &__social {
        display: flex;
        flex-direction: column;
        & * {
            width: 2.5rem;
            margin-bottom: 6px;
            fill: $lightGrey;
        }
    }
}
#myface {
    position: absolute;
    z-index: 6;
    display: none;
    border-radius: 50%;
    width: 7rem;
}
.btn {
    font-size: 1rem;
    background: transparent;
    padding: 0.7em;
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    transition: all 0.2s;
}
@media screen and (max-width: 1200px) {
    .burger {
        &__bg {
            position: fixed;
            z-index: 5;
            top: 0%;
            right: 0%;
            background: white;
            height: 5.5rem;
            width: 6.5rem;
            border-bottom-left-radius: 200%;
            transition: all 0.4s;
        }
        &__active {
            height: 100%;
            width: 100%;
            border-bottom-left-radius: 0;
            & .burger__icon--line {
                background: $darkBlue;
            }
        }
        &__icon {
            position: fixed;
            top: 1rem;
            right: 1.3rem;
            height: 2.5rem;
            width: 2.5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            &--line {
                height: 5px;
                border-radius: 20%;
                background: $medGrey;
            }
        }
        &__nav {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &--item {
                font-family: "Nebula Regular";
                margin: 1rem 0;
                color: $lightBlue;
            }
        }
    }
    .cursor {
        display: none;
    }
    .fixed {
        &__right--dot {
            display: none;
        }
        &__social {
            left: 8vw;
        }
    }
    .left {
        &__jclogo {
            display: none;
        }
        &__social {
            margin-bottom: 2rem;
        }
        &__lines {
            display: none;
        }
    }
}
@media screen and (min-width: 1201px) {
    .burger__bg {
        display: none;
    }

    .cursor {
        display: block;
        position: absolute;
        z-index: 6;
        filter: brightness(200%) contrast(200%);
        pointer-events: none;
        &--center {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background: white;
            transform: translate(-50%, -50%);
        }
        &--ring {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            width: 3rem;
            height: 3rem;
            border: 1px dashed white;
            animation: cursor 10s linear 0s infinite;
        }
    }
    @keyframes cursor {
        from {
            transform: translate(-50%, -50%) rotate(0deg);
        }
        to {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }
    .btn {
        &:hover,
        &:focus {
            transform: scale(1.1);
            box-shadow: $neon;
        }
    }
    .fixed {
        &__social {
            left: 3.3rem;
        }
        &__right {
            z-index: 5;
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: center;
            right: 5%;
            height: 100%;
            &--dot {
                border: none;
                margin: 7px 0;
                opacity: 0.8;
                background: radial-gradient($lightGrey, transparent 40%);
                border-radius: 50%;
                height: 14px;
                width: 14px;
                &:hover:not(.active),
                &:focus:not(.active) {
                    background: radial-gradient(white 40%, transparent 50%);
                }
            }
        }
    }
    .active {
        opacity: 1;
        background: radial-gradient($darkBlue 30%, white 55%);
        box-shadow: $neon;
    }

    .left {
        &__social {
            & * {
                &:hover,
                &:focus {
                    fill: white;
                }
            }
        }
        &__lines {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            & > * {
                width: 4px;
                border-radius: 25px 25px 0 0;
            }
            &--line1 {
                height: 7rem;
                width: 4px;
                background-color: $medGrey;
            }
            &--line2 {
                height: 10rem;
                background-color: $lightGrey;
            }
            &--line3 {
                height: 5rem;
                background-color: $darkGrey;
            }
        }
    }
    #myface {
        width: 15rem;
    }
}
