.fold {
    position: relative;
    &__center {
        color: $lightBlue;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &--name {
            color: white;
        }
    }
    &__btn {
        background: transparent;
        padding: 0.7em 1em;
        color: $lightBlue;
        border: 2px solid $lightBlue;
        transition: all 0.2s;
    }
}
@media screen and (max-width: 1200px) {
    .fold {
        &__center {
            width: 100%;
            //background-color: green;
            text-align: center;
        }
        &__navbar {
            display: none;
        }
        &__btn {
            font-size: #{"min(3.4vw, 1.2rem)"};
        }
    }
}
@media screen and (min-width: 1201px) {
    .fold {
        &__navbar {
            position: absolute;
            right: 0;
            top: 0%;
            padding: 2rem 4rem;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            color: white;
            & > button {
                margin: 0px;
            }
            & *,
            & > button {
                margin-left: #{"max(1.5vw,1.4rem)"};
            }
            & a:hover,
            & a:focus {
                text-shadow: $neon;
            }
        }
        &__btn {
            font-size: 1.2rem;
            &:hover,
            &:focus {
                transform: scale(1.2);
                border-color: white;
                box-shadow: $neon;
                text-shadow: $neon;
                border-radius: 25px;
                color: white;
            }
        }
    }
}
