.oQueFaco {
    position: relative;
    &__bg {
        opacity: 0.2;
        z-index: 4;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        overflow: hidden;
        & img {
            margin-right: -30rem;
            width: #{"clamp(55rem,70vw,75rem)"};
            animation: gear-spin 40s linear 0s infinite;
        }
    }
    &__items {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        & img {
            width: 12rem;
        }
        &--text {
            & h3 {
                margin-bottom: 0.8rem;
            }
        }
    }
}
@keyframes gear-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@media screen and (max-width: 1200px) {
    .oQueFaco {
        &__items {
            margin: 0 5vw;
        }
        &__item {
            flex-direction: column;
            & img {
                margin-bottom: #{"min(-3rem,-10vw)"};
            }
            & p {
                background-color: purple;
                width: #{"min(100%, 50ch)"};
            }
            &--text {
                display: flex;
                flex-direction: column;
            }
        }
    }
}
