.projetos {
    display: flex;
    flex-direction: column;
    &__items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__item {
        display: flex;
        &--img {
            flex: 1;
            z-index: 0;
        }
        & img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
        &--text {
            flex: 1;
            display: flex;
            flex-direction: column;
            width: #{"min(100%,35rem)"};
        }
        &--content {
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            background-color: $darkBlue;
            box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.36);
        }
        &--icons {
            display: flex;
            font-size: #{"clamp(1.2rem,1.6vw,1.5rem)"};
            & > * {
                margin-right: #{"clamp(0.8rem,1vw,1.1rem)"};
                color: $lightBlue;
            }
        }
    }
}
@media screen and (max-width: 1200px) {
    .projetos {
        &__item {
            flex-direction: column;
            align-items: center;
            width: #{"min(100%, 40rem)"};
            overflow-x: hidden;
            margin-bottom: 30vh;
            &--img {
                align-self: center;
                margin-bottom: 1rem;
            }
            & h3 {
                margin-left: 2rem;
            }
            & h4 {
                margin: 0 2rem 2rem;
            }
            &--content {
                margin-bottom: 1rem;
                padding: 1rem 0;
                & p {
                    margin: 0 auto 1rem;
                }
            }
            &--icons {
                margin: 0 auto;
            }
        }
    }
}
@media screen and (min-width: 1201px) {
    .projetos {
        & h2 {
            text-align: center;
        }
        &__item {
            width: 80%;
            margin-bottom: 25vh;
            &--img {
                margin-right: 1rem;
            }
            &:nth-child(even) {
                & h4 {
                    width: 30ch;
                }
                & .projetos__item {
                    &--text {
                        order: -1;
                        margin: 0 -10% 0 0%;
                        z-index: 1;
                    }
                    &--content {
                        border-radius: 0 15px 0 0;
                        margin: 1rem 0;
                    }
                }
            }
            &--text {
                width: 40%;
                justify-content: center;
            }
            &--content {
                border-top-left-radius: 15px;
                margin: 1rem 15% 1rem -20%;
                padding: 2rem 2rem;
                & p {
                    width: 100%;
                    margin-bottom: 1rem;
                }
            }
            &--icons {
                & > * {
                    &:hover,
                    &:focus {
                        color: white;
                    }
                }
            }
        }
    }
}
