@import "./_variables.scss";
@import "contatos";
@import "experiencia";
@import "fixed";
@import "fold";
@import "oQueFaco";
@import "projetos";
@import "sobre";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
@font-face {
    font-family: "Nebula Regular";
    src: url("./fonts/nebula.regular.otf");
}
*,
*::after,
*::before {
    scroll-behavior: smooth;
    outline: none;
}
body {
    margin: 0;
    background: #2b2b2b;
    box-sizing: border-box;
}
section {
    min-height: 100vh;
}
ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4 {
    font-family: "Nebula Regular";
}
h2,
h3,
h4 {
    color: white;
    text-shadow: $neon;
}
h2 {
    margin: 3rem 0;
}
p {
    font-family: "Nunito", sans-serif;
    font-size: #{"clamp(1rem,1vw,1.25rem)"};
    color: white;
    width: #{"min(90%, 60ch)"};
}
a {
    text-decoration: none;
    color: white;
}
@media screen and (max-width: 1200px) {
    h1 {
        font-size: #{"min(4.3vw, 2.8rem)"};
    }
    h2 {
        text-align: center;
        font-size: #{"min(8vw, 3rem)"};
    }
    h3 {
        font-size: #{"min(6vw, 2rem)"};
    }
    p {
        line-height: 1.5em;
    }
}
@media screen and (min-width: 1201px) {
    *,
    *::after,
    *::before {
        cursor: none;
    }
    section {
        padding: 0 3% 0 10%;
    }
    h1 {
        font-size: #{"min(2.5vw, 2.8rem)"};
    }
    h2 {
        font-size: #{"min(4vw, 4rem)"};
    }
    h3 {
        font-size: #{"clamp(1.7rem,1.7vw,2rem)"};
    }
}
